main {
    display: grid;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: lightslategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

/* -------------------- TEMPO SECTION ----------------------- */

.displayTempoBox {
    display: flex;
    justify-items: center;
    justify-content: center;
    min-height: 15vh;
}

.displayTempo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color:rgb(88, 129, 141);
    min-width: 50%;
    max-width: 50%;
    min-height: 1vh;
    font-size: 4.5em;
}

/* -------------------- 1 BPM SECTION ----------------------- */

section#tempo {
    display: flex;
    font-size: 3rem;
    min-width: 50vw;
    min-height: 10vh;
    justify-content: center;
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    font-size: 1.3em;
    min-height: 100%;
    min-width: 25%;
    max-width: 1em;
    border: solid black 0px;
    border-bottom: white 1px solid;
}

.down {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumturquoise;
    font-size: 1.3em;
    min-height: 100%;
    min-width: 25%;
    max-width: 1em;
    border: solid black 0px;
    border-bottom: white 1px solid;
}

#tempo> button.up:hover {
    cursor: pointer;
    outline: seagreen;
    background-color: seagreen;
}

#tempo > button.down:hover {
    cursor: pointer;
    outline: seagreen;
    background-color: rgb(72, 170, 93);
}

/*---------------------- 5 BPM SECTION ----------------------- */

section#tempo5bpm {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    min-width: 500px;
    min-height: 10vh;
}

.fiveUp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    font-size: 1.3em;
    min-height: 100%;
    min-width: 25%;
    max-width: 1em;
    border: solid black 0px;
}

.fiveDown {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumturquoise;
    font-size: 1.3em;
    min-height: 100%;
    min-width: 25%;
    max-width: 1em;
    border-bottom: solid white 1px;
    border: solid black 0px;
}

#tempo5bpm> button.fiveUp:hover {
    cursor: pointer;
    outline: seagreen;
    background-color: seagreen;
}

#tempo5bpm > button.fiveDown:hover {
    cursor: pointer;
    outline: seagreen;
    background-color: rgb(72, 170, 93);
}

/* ------------------ DOTS SECTION ------------- */

#dots {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.dot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:snow;
}

/* ---------------- MEASURE SECTION ------------------- */

.measure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 10vh;
    min-width: 100vw;
}

.measureBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 0px;
    background-color:steelblue;
    min-width: 25%;
    max-width: 25%;
    font-size: 1em;
}

.measureTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 0px;
    background-color:rgba(54, 151, 231, 0.603);
    min-width: 25%;
    max-width: 25%;
    font-size: 1em;
}

.measureBtn:hover {
    background-color:thistle;
}

/* ------------------ TEMPO SLIDER SECTION (IN PROGRESS) --------------- */

#slider {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 90%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* border: 1px solid #000000; */
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 85vw;
    height: 10px;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    background: #3071a9;
    border-radius: 1.3px;
    /* border: 0.2px solid #010101; */
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  
  input[type=range]::-moz-range-track {
    width: 85vw;
    height: 10px;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-ms-track {
    width: 85vw;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }  

/* ---------------- PLAY STOP SECTION ------------------- */

section#play_stop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    min-height: 10vh;
    min-width: 20vw;
}

.playBtn {
    border: solid black 0px;
    min-height: 90%;
    max-height: 90%;
    min-width: 20vw;
    max-width: 50vw;
    background-color:snow;
    font-size: 1em;
}

#play_stop > button:hover {
    background-color: oldlace;
}


/* ---------------- MEDIA QUERIES SECTION ------------------- */

/* Portrait */

@media only screen and (max-width: 937.5px) {
    
    /* max-width odpowiada 375px ale z powodu initial scale 0.4 jest powielona do 937.5px 
        (375px / 0.4) */

    main {
        min-height: 100vh;
        min-width: 100vw;
        padding-top: 4vh;
    }

    #dots {
        display: none;
    }

    .dot {
        display: flex;
        max-height: 1em;
        max-width: 1em;
        background-color:snow;
        flex-shrink: inherit;
        
        /* border: solid 1px black; */

    }

    /* -------------------- TEMPO SECTION ----------------------- */
    
    .displayTempo {
        min-width: 90vw;
    }
    
    /* -------------------- 1 BPM SECTION ----------------------- */
    
    .up {
        min-width: 45vw;
    }
    
    .down {
        min-width: 45vw;
    }

    /*---------------------- 5 BPM SECTION ----------------------- */
    
    .fiveUp {
        min-width: 45vw;
    }
    
    .fiveDown {
        min-width: 45vw;
    }

    /* ---------------- MEASURE SECTION ------------------- */

    .measureBtn {
        min-width: 45vw;
    }

    .measureTxt {
        min-width: 45vw;
    }

    /* ---------------- PLAY STOP SECTION ------------------- */

    .playBtn {
        min-height: 70%;
        max-height: 90%;
        min-width: 40vw;
        max-width: 50vw;
    }

}

